
  <div class="row featurette">
    <div class="col-md-5 col-md-push-7">
        <% if !current_user %>
        <div class="jumbotron">
            <div class="jumbotron-contents">
                        <h3 class="text-muted"><span class="glyphicon glyphicon-ok-circle"></span> Get Started
                        </h3>
                        <a class="btn btn-block btn-lg btn-social btn-facebook" href="/auth/facebook">
                            <i class="fa fa-facebook fa-5x"></i><b> Sign in | Facebook </b>
                        </a>
            </div>
        </div>
        <% end %>
    </div>
    <div class="col-md-7 col-md-pull-5">
        <h2><span class="glyphicon glyphicon-search"></span> Find my type </h2>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#search-form">
                <span class="glyphicon glyphicon-edit"></span><span><b> Search </b></span>
        </button>     
        <hr class="divider"></hr>
<!-------------------------------------------------------------------------------------------------------------------  -->
        <div class="collapse well" id="search-form">
            <%= form_tag({:controller => "user", :action => "search"}) do %>
                <h3 class="form-heading">Search Options</h3>
		            <div class="row">
			            <div class="col-md-1">
		                        <h5> Age </h5>
		                </div>
                        <div class="col-md-5">
                            <%= select_tag :min_age, options_for_select( get_min_age_options()), {:class => "selecter_1", :name => "min_age" } %>
                       </div>
                        <div class="col-md-1">
                            to
                        </div>
			            <div class="col-md-5">
			                    <!-- select tag --> 
                            <%= select_tag :max_age, options_for_select( get_max_age_options()), {:class => "selecter_1", :name => "max_age" } %>
			            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
			  <h5>Caste</h5>
                            <%= select_tag :caste, options_for_select( get_caste() ), {:class => "selecter_1", :name => "caste" } %>
		                </div>
                    </div>	
		            <div class="row"> 
		                <div class="col-md-6">
			          <h5>Mother Tounge</h5>
                            <%= select_tag :language, options_for_select( get_language() ), {:class => "selecter_1", :name => "mother_tongue" } %>
                        </div>
		            </div>		
		            <div class="row">
		                <div class="col-md-6">
			          <h5>Location</h5>
                            <%= select_tag :location, options_for_select( get_location() ), {:class => "selecter_1", :name => "location" } %>
                        </div>
                    </div>
                <% if current_user %>
                    <%= submit_tag "Search", :class => "btn btn-success"%>
                <% end %>
            <% end %>
        </div>   
<!---------------------------------------------------------------------------------------------------------------------- -->
    </div>
  </div>
    
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">
                <span class="glyphicon glyphicon-hand-right"></span>
                India's first Advanced Matrimony Website.<span class="text-muted"><br>It'll blow your mind.</span>
          </h2>
          <p class="lead"></p>
        </div>
        <!--
        <div class="col-md-5">
         <div class="jumbotron">
         <div id="carousel-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-generic" data-slide-to="1"></li>
            <li data-target="#carousel-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active"><img src="/images/couple.jpg"/></div>
                <div class="item"><img src="/images/couple.jpg" /></div>
                <div class="item"><img src="/images/couple.jpg" /></div>
            </div>
            <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            <a class="right carousel-control" href="#carousel-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <div class="jumbotron-contents">
            <h3>Learn more about our success stories</h3>
        </div>
        </div>
    </div>-->
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
        <img class="featurette-image img-responsive" style="border-radius: 45px" src="/images/find-love.jpg" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading"><span class="glyphicon glyphicon-tag"></span> It can't get simpler.<br><span class="text-muted">Just a click away from finding your partner.</span></h2>
        <h4 class="lead"><b>Login via Facebook, Set your profile, Search and find your Love.</b></h4>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-rounded" src="/images/search-love.jpg" >
            <div class="caption text-center">
                <br><br><br><br>
                <h3>Search</h3><br>
                <p>We'll find the perfect one for you!</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-rounded" src="/images/message.jpg">
            <div class="caption text-center">
                <h3>Message</h3>
                <p>Send Messages to those you're interested in.</p><br>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="img-rounded" src="/images/report.png">
        <div class="caption text-center">
          <h3>Report/Abuse</h3>
          <p>Let us know who's troubling you and we'll take necessary action</p>
        </div>
      </div>
    </div>
  </div>
   <hr class="featurette-divider">
 </div>

