<style>
.time {
    margin: -3px 0 0px 13px;
    display: block;
}
.dot {
    background-color: #4FC1E9;
    border-radius: 100%;
    display: inline;
    height: 15px;
    left: 26%;
    position: absolute;
    top: 26.7%;
    width: 15px;
    z-index: 200;
}
</style>
    <div class="row">
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5><i class="fa fa-camera-retro"></i> Add Image</h5>
            </div>
            <div class="panel-body">
                <% if current_id == params[:id].to_i %>
                <% @new_image = Image.new %>
                <%= form_for @new_image, :url => { :controller => "user", :action => "create_image" }, :html => {:multipart => true } do |form| %>
                    <%= form.text_field :user_id, :style => "display: none;" %>
                    <%= form.file_field :img, :id => "upfile", :required => "", :placeholder => "Image Path", :autofocus => "" %>
                    <%= form.submit :Upload, :class => "btn btn-primary" %>
                <% end %>
                <% end %>
            </div>
        </div>
        </div>
    </div>
    <div class="timeline">
        <dl>
            <dt>Images</dt>
            <% if @images[0] %>
            <dd class="pos-left clearfix">
                    <div>
                    <button id="img-1" class="circ" type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-title="Actions">
                    </button>
                    </div>
                    <div class="time"></div>
                    <div class="events">
                        <div class="events-body" data-toggle="tooltip" data-placement="top">
                            <%= image_tag @images[0].img.url(:medium), :class => "img-rounded" %>
                        </div>
                    </div>
            </dd>
            <% end %>
            <% if @images[1] %>
            <dd class="pos-right clearfix">
                    <div>
                        <button id="img-2" class="circ" type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-title="Actions">
                        </button>
                    </div>
                    <div class="time"></div>
                    <div class="events">
                        <div class="events-body" data-toggle="tooltip" data-placement="top">
                            <%= image_tag @images[1].img.url(:medium), :class => "img-rounded" %>
                        </div>
                    </div>
            </dd>
            <% end %>
            <% if @images[2] %>
            <dd class="pos-left clearfix">
                    <div>
                        <button id="img-3" class="circ" type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-title="Actions">
                        </button>
                    </div>
                    <div class="time"></div>
                    <div class="events">
                        <div class="events-body" data-toggle="tooltip" data-placement="top">
                            <%= image_tag @images[2].img.url(:medium), :class => "img-rounded" %>
                        </div>
                    </div>
            </dd>
            <% end %>
            <% if @images[3] %>
            <dd class="pos-right clearfix">
                    <div>
                        <button id="img-4" class="circ" type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-title="Actions">
                        </button>
                    </div>
                    <div class="time"></div>
                    <div class="events">
                        <div class="events-body" data-toggle="tooltip" data-placement="top">
                            <%= image_tag @images[3].img.url(:medium), :class => "img-rounded" %>
                        </div>
                    </div>
            </dd>
            <% end %>
        </dl>
    </div>
<script>
$(function(){

    setContents = function() {
        $button = $(this);
        _id = $button.attr('id').split("-")[1];
        console.log(_id);
        del_btn = "<a href='/delete_image?pic_no=" + _id + "' class='btn btn-danger' ><i class='fa fa-exclamation-triangle'></i> Delete</a>";
        prof_btn = "<a href='/set_profile_image?pic_no=" + _id + "' class='btn btn-primary'><i class='fa fa-check-square-o'></i> Set Profile Pic</a> | ";
        return prof_btn + del_btn;

    };

    setProfileImage = function() {
        el = $(this);
        $('#'+el.attr("id")).popover({
            content: setContents,
            html: true,
        });
    };
    
    $('.circ').bind('click', setProfileImage);
    loadContent = function() {
        return "Click &nbsp;&nbsp;&nbsp;&nbsp;<div class='dot'></div>&nbsp;&nbsp;&nbsp;&nbsp;for more options";
    };

    $('.events-body').tooltip({
        title: loadContent,
        html: true
    });
    // initialize popovers

    k = $('button');
    for(i=0;i<k.length;i++) {
        if ( $(k[i]).attr("id") ) {
            $(k[i]).popover({
                content: setContents,
                html: true,
            });
        }
    }
});
</script>
