<div class="row">
  <div class="col-md-12">
    <h2>Interest Shown By</h2>
  </div>
</div>
<% for @user in @users %>
  <% @user = @user[0] %>
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <h4 class="text-left"><%= @user.firstname %> <%= @user.lastname %></h4>
            <% if has_image(@user.id) %>
              <%= image_tag (get_image(@user.id)).img.url(:thumb) %>
            <% else %>
              <img src="/images/default.jpg" height="150" width="150"  > </img>
            <% end %>
        </div>
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5>Basic Details</h5>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <p><b> Caste </b><%= @user.caste %></p>
                </div>
                <div class="col-md-6">
                  <p><b> Language </b><%= @user.language %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p><b> Location </b><%= @user.location %></p>
                </div>
                <div class="col-md-6">
                  <p><b> Phone </b><%= @user.phone %></p>
                </div>
              </div>
              <hr>
	      <div class="row">
	        <div class="col-md-4">
	          <p><a class="btn btn-social btn-facebook" href="https://facebook.com/<%= @user.uid %>">
                     <i class="fa fa-facebook"></i><b>Facebook Profile</b>
                     </a>
                  </p>
	        </div>
                <div class="col-md-4">
                  <a role="button" class="btn btn-primary" href="<%= get_link(@user.id) %>">
                    View Complete Profile
                  </a>
                </div>
                <div class="col-md-4">
                  <a role="button" class="btn btn-primary" href="<%= get_show_interest_link(current_user.id, @user.id) %>">
                    Show Interest Back
                  </a>
              </div>
	      <div class="row">
	        <div class="col-md-8"></div>
	          <div class = "col-md-4">
		    <a role="button" class="btn btn-danger" href="<%='/report?cid='+current_user.id.to_s+'&uid='+@user.id.to_s%>">Report</a>
		  </div>
	      </div>
	    </div>
          </div>
        </div>
      <hr>
      </div>
    </div>
  </div>
</div>
<% end %>
