<div class="row">
<div class="col-md-12">
    <h2>Message with <%= @user_2.firstname %> <%= @user_2.lastname %></h2>
</div>
</div>
<div class="panel panel-info">
  <div class="panel-body">
    <% for @message in @messages %>
      <div class="row">
        <div class="col-md-3">
          <h4 class="text-left">
            <% if @message.user_1 == @user_1.id %>
              <%= @user_1.firstname %> <%= @user_1.lastname %>
            <% else %>
              <%= @user_2.firstname %> <%= @user_2.lastname %>
            <% end %>
          </h4>
            <p><%= @message.timestamp %></p>
        </div>
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <p><%= @message.message %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= form_tag({:action => 'new_message'}) do %>
      <legend>Message <%= @user_2.firstname %></legend>
      <div class="row">
        <div class="col-md-3">
          Content
        </div>
        <div class="col-md-9">
          <textarea class="form-control" type="text" value="" id="message" rows='10' cols='40' name="message"></textarea>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-9 col-md-push-3">
          <%= submit_tag "Message", class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
