<div class="col-md-3">
    <div class="row">
        <div class="row">
            <% if @image %>
                <%= image_tag @image.img.url(:small), :class => "img-rounded" %>
            <% else %> 
                <img src="/images/default.jpg" class="img-rounded" width="220" height="220"></img>
            <% end %>
        </div>
    </div>
</div>
<div class="col-md-9">
  <div class="example">
    <!--<div class="row">
      <div class="col-md-4 col-md-push-4">
        <a href="user_profile_facebook_update"><button class="btn btn-primary">Update from Facebook</button></a>
      </div>
    </div>-->
    <div class="row">
      <%= form_tag({:action => 'user_profile_update'}) do %>
        <legend><span class="glyphicon glyphicon-user"></span> User Details</legend>
        <% if current_id == params[:id].to_i %>
            <div class="row">
                <a class="btn btn-warning" href="<%= '/add_image/' + current_id.to_s %>"><i class="fa fa-camera"></i> | Add Images</a><hr>
            </div>  
        <% else %>
            <div class="row">
                <a class="btn btn-warning" href="<%= '/view_image/' + params[:id].to_s %>"><i class="fa fa-camera"></i> | View Images</a><hr>
            </div>
        <% end %>
        <div class="row">
            <% if current_id == params[:id].to_i %>
                <i class="fa fa-asterisk"></i> Details needed in order to use Search.
            <% end %>
        </div>        
        <br>
        <div class="row">
          <div class="col-md-3">First Name</div>
          <div class="col-md-9">
          <% if current_id == params[:id].to_i %> 
            <%= text_field_tag :firstname, @user.firstname, class: 'form-control' %>
          <% else %>
            <p><%= @user.firstname %></p>
          <% end %>
          </div>
	</div>
        <div class="row">
          <div class="col-md-3">Last Name</div>
	  <div class="col-md-9">
          <% if current_id == params[:id].to_i %>
            <%= text_field_tag :lastname, @user.lastname, class: 'form-control' %>
          <% else %>
                <p><%= @user.lastname %></p>
          <% end %>
        </div>
	</div>
        <div class="row">
          <div class="col-md-3">
            Gender
            <% if ( @user.gender == "Select" || !@user.gender ) && current_id == params[:id].to_i%>
                <i class="fa fa-asterisk"></i>
            <% end %>
          </div>
	  <div class="col-md-9">
          <% if current_id == params[:id].to_i %>
            <%= select_tag :gender, options_for_select(get_gender(), @user.gender), {:class => "selecter_1", :name => "gender" } %>
          <% else %>
                <p><%= @user.gender %></p>
          <% end %>    
          </div>
	</div>
        <div class="row">
          <div class="col-md-3">
            Caste
            <% if ( @user.caste == "Select" || !@user.caste ) && current_id == params[:id].to_i %>
                <i class="fa fa-asterisk"></i>
            <% end %> 
          </div>
	  <div class="col-md-9">
          <% if current_id == params[:id].to_i %>
            <%= select_tag :caste, options_for_select(get_caste(), @user.caste),{:class => "selecter_1", :name => "caste"} %>
          <% else %>
                <p><%= @user.caste %></p>
          <% end %>
          </div>
	</div>
        <div class="row">
          <div class="col-md-3">
            Location
            <% if ( @user.location == "Select" || !@user.location ) && current_id == params[:id].to_i %>
                <i class="fa fa-asterisk"></i>
            <% end %>
          </div>
	  <div class="col-md-9">
          <% if current_id == params[:id].to_i %>
            <%= select_tag :location, options_for_select(get_location(), @user.location), {:class => "selecter_1", :name => "location" } %>
          <% else %>
                <p><%= @user.location %></p>
          <% end %>
          </div>
	</div>
	<div class="row">
            <div class="col-md-3">
                D.O.B.(dd/mm/yyyy)
                <% if ( @user.date == ".." || !@user.date || @user.month == ".." || !@user.month || @user.year == ".." || !@user.year ) && current_id == params[:id].to_i%>
                    <i class="fa fa-asterisk"></i>
                <% end %>
            </div>
            <div class="col-md-3">
                <% if current_id == params[:id].to_i %>
                    <%= select_tag :date, options_for_select(get_date(), @user.date), {:class => 'selecter_1', :name => 'date'} %>
                <% else %>
                    <p><%= @user.date %></p>
                <% end %>
            </div>
            <div class="col-md-3">
                <% if current_id == params[:id].to_i %>
                    <%= select_tag :month, options_for_select(get_month(), @user.month), {:class => "selecter_1", :name => "month" } %>
                <% else %>
                    <p><%= @user.month %></p>
                <% end %>
            </div>
            <div class="col-md-3">
                <% if current_id == params[:id].to_i %>
                    <%= select_tag :year, options_for_select(get_year(), @user.year), {:class => "selecter_1", :name => "year" } %>
                <% else %>
                    <p><%= @user.year %></p>
                <% end %>
            </div>
	</div>
	<div class="row">
          <div class="col-md-3">Working Experience</div>
	   <div class="col-md-9">
          <% if current_id == params[:id].to_i %>
            <%= text_field_tag :work, @user.work, class: 'form-control' %>
          <% else %>
                <p><%= @user.work %></p>
          <% end %>
          </div>
	</div>
        <div class="row">
          <div class="col-md-3">
            Mother Tounge
            <% if ( @user.language == "Select" || @user.language == nil ) && current_id == params[:id].to_i %>
                <i class="fa fa-asterisk"></i>
            <% end %>
          </div>
	  <div class="col-md-9">
         <% if current_id == params[:id].to_i %>
            <%= select_tag :language, options_for_select(get_language(), @user.language), {:class => "selecter_1", :name => "language" } %>
          <% else %>
                <p><%= @user.language %></p>
          <% end %>
          </div>
	</div>
        <div class="row">
          <div class="col-md-3">
            Education
          </div>
	  <div class="col-md-9">
          <% if current_id == params[:id].to_i %>
            <%= text_field_tag :education, @user.education, class: 'form-control' %>
          <% else %>
                <p><%= @user.education %></p>
          <% end %>
          </div>
	</div>
	<div class="row">
          <div class="col-md-3">
            Height
            <% if ( @user.height == nil || @user.height == "" ) && current_id == params[:id].to_i %>
                <i class="fa fa-asterisk"></i>
            <% end %>
          </div>
	  <div class="col-md-9">
          <% if current_id == params[:id].to_i %>
            <%= text_field_tag :height, @user.height, class: 'form-control' %>
          <% else %>
                <p><%= @user.height %></p>
          <% end %>
          </div>
	</div>
	<div class="row">
          <div class="col-md-3">Weight</div>
	  <div class="col-md-9">
          <% if current_id == params[:id].to_i %>
            <%= text_field_tag :weight, @user.weight, class: 'form-control' %>
          <% else %>
                <p><%= @user.weight %></p>
          <% end %>
          </div>
	</div>
	<div class="row">
          <div class="col-md-3">Hobbies</div>
	  <div class="col-md-9">
          <% if current_id == params[:id].to_i %>
            <%= text_field_tag :hobbies, @user.hobbies, class: 'form-control' %>
          <% else %>
                <p><%= @user.hobbies %></p>
          <% end %>
          </div>
	</div>
	<div class="row">
          <div class="col-md-3">Religion
	  <% if (@user.religion == "Select" || @user.religion == nil ) && current_id == params[:id].to_i %>
                <i class="fa fa-asterisk"></i>
            <% end %>
          </div>
          <div class="col-md-9">
          <% if current_id == params[:id].to_i %>
             <%= select_tag :religion, options_for_select(get_religion(), @user.religion), {:class => "selecter_1", :name => "religion" } %>
          <% else %>
                <p><%= @user.religion %></p>
          <% end %>
          </div>
	</div>
        <div class="row">
          <div class="col-md-3">Phone No.
            <% if ( @user.phone == nil || @user.phone == "" ) && current_id == params[:id].to_i %>
                <i class="fa fa-asterisk"></i>
            <% end %>
          </div>
	   <div class="col-md-9">
          <% if current_id == params[:id].to_i %>
            <%= text_field_tag :phone, @user.phone, class: 'form-control' %>
          <% else %>
                <p><%= @user.phone %></p>
          <% end %>
          </div>
	</div>
        <div class="row">
          <div class="col-md-9 col-md-push-3">
            <% if current_id == params[:id].to_i %>
                <%= submit_tag "Update Details", class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-push-3">
            <% if current_id == params[:id].to_i %>
                <a href="/user_profile_facebook_update"><button class="btn btn-primary">Update from Facebook</button></a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
