<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matrimony</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #F5F7FA">
  <!--- NAVBAR/HEADER(common to all pages) -->
  <div class="navbar-wrapper">
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-heart"></span> Matrimony</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user and get_name != "Mataddmin" %>
          <li><a href="/interest_shown_by">Interest Shown By</a></li>
          <li><a href="/interest_shown_to">Interest Shown To</a></li>
          <li><a href="/message">Message</a></li>
        <% end %>
        <% if get_name == "Mataddmin" %>
        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/reports">Reports</a></li>
            <li><a href="/admin/message">Message</a></li>
            <li class="divider"></li>
	    <li><a href="/admin/"><i class="fa fa-gear"></i>DashBoard</a></li>
          </ul>
        </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <% if !current_user %>
                <li><a href="/auth/facebook" type="button">
                    Login
                    </a>
                </li> 
          <% else %>
                <li class="dropdown">
                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <%= current_user.firstname %>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <% if get_name == "Mataddmin" %>    
                        <li><a href="/admin/"><i class="fa fa-gear"></i> Admin</a></li> 
                    <% else %>
                        <li><a href="<%= get_profile_link() %>">Profile</a></li>
                    <% end %>
                    <li class="divider"></li>
                    <li><a href="/sessions/destroy"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
                </li>
          <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
  </div>

  <div class="container">
    <% if flash[:notice] %>
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong><%= flash[:notice] %></strong>
        </div>
        <% flash[:notice] = nil %>
    <% end %>
    <% if flash[:alert] %>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong><%= flash[:alert] %></strong>
        </div>
        <% flash[:alert] = nil %>
    <% end %>

    <% if params[:controller] == "admin" %>
        <% if get_name == "Mataddmin" %>
            <%= yield %>
        <% else %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>Permission Denied!</strong>
            </div>
        <% end %>
    <% else %>
        <%= yield %>
    <% end %>

  </div>

  <!---- Footer---->
  <div class="footer">
    <div class="container">
      <div class="clearfix">
        <div class="footer-logo"><a href="#"><span class="glyphicon glyphicon-heart"></span> Matrimony</a></div>
          <dl class="footer-nav">
            <dt class="nav-title">OTHER SERVICES</dt>
            <dd class="nav-item"><a>Wisdom Kites</a></dd>
            <dd class="nav-item"><a>Training</a></dd>
            <dd class="nav-item"><a>Workshops</a></dd>
            <dd class="nav-item"><a>Web Solutions</a></dd>
          </dl>
          <dl class="footer-nav">
            <dt class="nav-title">PRIVACY</dt>
            <dd class="nav-item"><a>Privacy Policy</a></dd>
            <dd class="nav-item"><a>Security Tips</a></dd>
          </dl>
          <dl class="footer-nav">
            <dt class="nav-title">ABOUT</dt>
            <dd class="nav-item"><a>The Company</a></dd>
            <dd class="nav-item"><a>History</a></dd>
            <dd class="nav-item"><a>Vision</a></dd>
          </dl>
          <dl class="footer-nav">
            <dt class="nav-title">CONTACT</dt>
            <dd class="nav-item"><a>Flat No: 209 & 210, 1st Floor,</a></dd>
            <dd class="nav-item"><a>KTC Illumination, Image Hospital road,</a></dd>
            <dd class="nav-item"><a>Gafoor Nagar, Madhapur.</a></dd>
          </dl>
    </div>
    <div class="footer-copyright text-center">Developed by WisdomKites.</div>
    </div>
  </div>
 </div>

</body>
</html>
