<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            </i><span><h4>Users</h4></span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Location</th>
                            <th>Reported by:</th>   
			     </tr>
                    </thead>
                         <% @report.each do |r| %>
                         <tr>
                           <% @user1 = @users.find(r.user1_id) %>
			   <% @user2 = @users.find(r.user2_id) %> 
			   <td><b><%=@user2.name%></b></td>
                           <td><%= @user2.email %></td>
			   <td><%= @user2.location %></td>
			   <td><%= @user1.name%></td>
                        </tr>
                     <% end %> 
                    </tbody>
                   </table>
            </div>
        </div>
    </div>
</div>
