<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            </i><span><h4>Users</h4></span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @users.each do |u| %>
                        <tr>
                            <td><%= get_action_buttons u.id %></td>
                            <td><b><%= u.name %></b></td>
                            <td><%= u.email %></td>
                            <% if u.gender == "Select" %>
                                <td>-</td>
                            <% else %>
                                <td><%= u.gender %></td>
                            <% end %>
                            <% if u.location == "Select" %>
                                <td>-</td>
                            <% else %>
                                <td><%= u.location %></td>
                            <% end %>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
